language: groovy
jdk:
  - openjdk8

services:
  - postgresql

before_script:
  - psql -c "CREATE DATABASE giriapi;" -U postgres
  - psql -c "CREATE USER giriapi WITH PASSWORD 'giriapi';" -U postgres
  - psql -c "GRANT ALL PRIVILEGES ON DATABASE giriapi TO giriapi;" -U postgres

notifications:
  email:
    recipients:
      - gpottepalem@gmail.com
      - gpottepalem@yahoo.com

    on_success: change
    on_failure: change